// HOME 

.home{
    width: 100%;
    height: 100vh;
    background-image: url("../../imgs/fundo.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.opacity{
    width: 100%;
    height: 100%;
    background-color: #00000096;
}

.socials{
    width: 100%;
    padding: 40px 40px;
    font-size: 25px;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: end;
}

.socials i{
    display: block;
    color: var(--text-sub);
}

.socials i:hover{
    color: var(--text-base-light);
    animation: anima-icon .8s infinite alternate ease-in-out;
}

@keyframes anima-icon {
    0% {
        transform: translateY(0) scale(1);
    }  
    100% {
        transform: translateY(-5px) scale(1.3);
    }
}

.txt-home{
    width: 100%;
    height: 100%;
    gap: 80px;

    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}

.txt-home h1{
    font-size: 6rem;
    line-height: 108%;
    text-align: center;
}

.txt-home p{
    font-size: 20px;
}

.txt-home button{
    width: 325px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: var(--text-sub);
    color: var(--text-base-light);
    font-weight: 700;
    font-size: 20px;
    padding: 8px;
    transition: 1s;
}

.txt-home button:hover{
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
}
