@charset "UTF-8";
@font-face {
  font-family: "font1";
  src: url("../../fonts/Achafsex.ttf") format("truetype"); /* Altere o nome do arquivo */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font2";
  src: url("../../fonts/AlbertTextBold.otf") format("truetype"); /* Altere o nome do arquivo */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "font2", system-ui;
  color: var(--text-base-light);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

li, a, p {
  list-style: none;
  text-decoration: none;
  color: #a7a7a7;
  font-family: "Poppins", serif;
}

span {
  color: var(--text-sub);
}

:root {
  --text-base-dark: #000;
  --text-base-light: #f2f4f6;
  --text-sub: #9c8c8c;
  --text-base-gray: #695e5e;
  --bg-icon: #131313;
  --bg-top-bar: #61616142;
  --white: #f2f4f6;
}

body {
  background-image: url("../../imgs/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

/* ESTILO DO RODAPÉ */
footer {
  padding: 0px 4%;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.4039215686);
  background-color: var(--azul-claro);
  height: -moz-fit-content;
  height: fit-content;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
  width: 100%;
}

footer .socials .social-item:hover {
  background-color: var(--white);
  color: var(--azul-claro);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.borda {
  border-top: 2px solid #fff;
}

footer .line-footer p i {
  color: #fff;
  font-size: 22px;
}

footer .line-footer p a {
  color: #dee2e6;
}

footer .line-footer p a:hover {
  color: #fff;
}

.logo {
  width: 110px;
  cursor: pointer;
}

.socials {
  padding: 40px 40px;
  font-size: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials i {
  display: block;
  color: var(--text-sub);
}

.socials i:hover {
  color: var(--text-base-light);
  animation: anima-icon 0.8s infinite alternate ease-in-out;
}

@keyframes anima-icon {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.3);
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-image: url("../../imgs/sobre-home-5d9c8c37.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.home .header-home {
  width: 100%;
  max-height: 150px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
  cursor: pointer;
}

.opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5882352941);
  gap: 100px;
  display: flex;
  flex-direction: column;
}

.socials {
  padding: 40px 40px;
  font-size: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials i {
  display: block;
  color: var(--text-sub);
}

.socials i:hover {
  color: var(--text-base-light);
  animation: anima-icon 0.8s infinite alternate ease-in-out;
}

@keyframes anima-icon {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.3);
  }
}
.txt-home {
  width: 100%;
  height: 100%;
  gap: 50px;
  padding: 0 5%;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
}

.txt-home h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 108%;
}

.txt-home p {
  font-size: 20px;
}

.txt-home button {
  width: 325px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: var(--text-sub);
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  padding: 8px;
  transition: 1s;
}

.txt-home button:hover {
  background: var(--white);
  color: #6f6363;
}

section.sobre {
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre p {
  font-size: 24px;
}

.txt-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.txt-sobre h1 {
  font-size: 80px;
  font-weight: 400;
}

.container-sobre {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  align-items: center;
}

.box-sobre {
  padding: 20px 24px;
  border-radius: 20px !important;
  background-color: var(--text-sub);
  flex-grow: 1;
  width: 260px;
  height: 240px;
  gap: 10px;
  transition: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-sobre:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 40px var(--text-sub);
}

.container-sobre .aportfolio:hover {
  width: 80%;
}

.txt-box-sobre {
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.txt-box-sobre p, .txt-box-sobre h3, .box-sobre i {
  color: #000;
}

.txt-box-sobre h3, .box-sobre i {
  font-size: 35px;
}

.rolagem {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

.container-rolagem {
  display: flex;
  align-items: center;
  gap: 30px;
  width: -moz-max-content;
  width: max-content; /* conteúdo cresce com base no conteúdo */
  animation: rolagem 20s linear infinite;
  background-color: var(--text-sub);
}

.container-rolagem .h1 {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: var(--text-base-dark);
}

/* Pode ajustar o tempo e velocidade aqui */
@keyframes rolagem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
section.portfolio {
  height: 140vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-portfolio {
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-portfolio .txt-right {
  width: 50%;
  height: 100%;
  gap: 30px;
  padding-left: 50px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

.txt-portfolio .txt-right ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
  list-style-type: disc;
}

.txt-portfolio .txt-right h1 {
  font-size: 65px;
}

.txt-portfolio .txt-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.txt-portfolio .txt-left p {
  font-size: 35px;
  font-weight: 300;
}

.portfolio button {
  width: 250px;
  height: 60px;
  font-size: 25px;
  font-weight: 700;
  background-color: var(--text-base-gray);
  color: var(--text-base-light);
  padding: 8px;
  border: none;
  border-radius: 30px;
  transition: 1s;
}

.portfolio button:hover {
  background: var(--white);
  color: #6f6363;
}

.container-portfolio {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.rolagem-img {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 30px;
  animation: rolagem-horizontal 15s linear infinite alternate;
  width: -moz-max-content;
  width: max-content;
}

.rolagem.bottom .rolagem-img {
  animation: rolagem-horizontal-reverse 15s linear infinite alternate;
}

.img-rolagem {
  flex-shrink: 0;
  width: 200px; /* ou o tamanho que quiser */
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.img-rolagem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* Animações suaves com base na largura do conteúdo */
@keyframes rolagem-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes rolagem-horizontal-reverse {
  0% {
    transform: translateX(-34%);
  }
  100% {
    transform: translateX(0);
  }
}
.seguranca {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5% 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seguranca .h1 {
  width: 40%;
  height: 200px;
  font-size: 35px;
  text-transform: uppercase;
}

.seguranca .txt-seguranca {
  width: 60%;
}

.seguranca .txt-seguranca .informa {
  width: 100%;
}

.seguranca .txt-seguranca .informa-btn {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informa-btn p, .informa-btn i {
  font-size: 20px;
  text-transform: uppercase;
}

.seguranca .txt-seguranca .informa-btn:hover {
  background-color: var(--text-base-gray);
}

.seguranca .txt-informa {
  border: 1px solid #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
  opacity: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.seguranca .txt-informa p {
  text-transform: uppercase;
  font-size: 14px;
}

.txt-informa.active-informa {
  max-height: 200px; /* Ajuste para um valor adequado */
  opacity: 1;
  padding: 5%;
}

/* ESTILO DO FOMULÁRIO DE CONTATO */
section.formulario {
  padding: 80px 4%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.div-form {
  display: flex;
  flex-direction: row;
  width: 1000px;
  align-items: center;
  justify-content: center;
}

.linha {
  height: 463px;
  width: 1px;
  background-color: var(--white);
  margin-left: 40px;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

form input, form textarea {
  width: 100%;
  background-color: var(--text-sub);
  border: 0;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  font-size: 18px;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: var(--white);
}

form input::placeholder, form textarea::placeholder {
  color: var(--white);
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: var(--text-sub);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

form .btn-enviar input:hover, form input:hover, form textarea:hover {
  background-color: var(--white);
  color: var(--text-base-gray);
}
form .btn-enviar input:hover::-moz-placeholder, form input:hover::-moz-placeholder, form textarea:hover::-moz-placeholder {
  color: var(--text-base-gray);
}
form .btn-enviar input:hover::placeholder, form input:hover::placeholder, form textarea:hover::placeholder {
  color: var(--text-base-gray);
}

.contact-infos {
  align-self: center;
  margin-left: 30px;
  min-width: 350px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.contact-infos hr {
  width: 100%;
  background-color: #313238;
  line-height: 0px;
}

.contact-infos .item {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.contact-infos .item i {
  display: block;
  width: 40px;
  font-size: 16px;
  color: primary;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid var(--verde-claro);
  line-height: 34px;
  text-align: center;
  padding: 0 !important;
  color: var(--verde-claro);
  margin-right: 15px;
}

.contact-infos .item i:hover {
  background-color: var(--verde-claro);
  color: #fff;
}

.contact .contact-infos .item div {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 25px;
  flex-grow: 1;
}

.contact-infos .item div h5 {
  margin-bottom: 10px;
  opacity: 0.9;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.contact-infos .item div p {
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 4px;
  letter-spacing: 0.6px;
}

@media (max-width: 768px) { /* Tablets e celulares grandes */
  .home {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .txt-home {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }
  .txt-home h1 {
    font-size: 3rem;
    line-height: 100%;
  }
  section.sobre {
    height: -moz-fit-content;
    height: fit-content;
  }
  .txt-sobre h1 {
    font-size: 2rem;
    line-height: 100%;
  }
  .container-sobre {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-content: center;
  }
  .p-sobre {
    display: none;
  }
  section.portfolio {
    padding: 10% 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .txt-portfolio {
    flex-direction: column-reverse;
  }
  .txt-portfolio .txt-left {
    display: none;
  }
  .txt-portfolio .txt-right {
    width: 100%;
    gap: 50px;
    padding-left: 0;
    align-items: center;
  }
  .txt-right h1 {
    font-size: 3rem;
  }
  .txt-portfolio .txt-right ol {
    font-size: 1.3rem;
  }
  .txt-portfolio .txt-left {
    width: 100%;
    text-align: center;
  }
  .txt-portfolio .txt-left p {
    font-size: 25px;
    font-weight: normal;
    font-family: "Poppins";
  }
  .portfolio button {
    margin-bottom: 40px;
  }
  .seguranca {
    padding: 5% 0;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
  }
  .seguranca .h1 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    text-transform: uppercase;
  }
  .seguranca .txt-seguranca {
    width: 100%;
  }
  .linha {
    display: none;
  }
  form {
    width: 100vw;
    padding: 0px 20px;
  }
  .contact-infos {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */