* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", serif;
  color: var(--text-base-light);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

ul li, a {
  list-style: none;
  text-decoration: none;
  color: #a7a7a7;
}

:root {
  --text-base-dark: #000;
  --text-base-light: #fff;
  --text-sub: #a7a7a7;
  --text-base-gray: #787878;
  --bg-icon: #131313;
  --bg-top-bar: #61616142;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../../imgs/fundo.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5882352941);
}

.socials {
  width: 100%;
  padding: 40px 40px;
  font-size: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials i {
  display: block;
  color: var(--text-sub);
}

.socials i:hover {
  color: var(--text-base-light);
  animation: anima-icon 0.8s infinite alternate ease-in-out;
}

@keyframes anima-icon {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-5px) scale(1.3);
  }
}
.txt-home {
  width: 100%;
  height: 100%;
  gap: 80px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.txt-home h1 {
  font-size: 6rem;
  line-height: 108%;
  text-align: center;
}

.txt-home p {
  font-size: 20px;
}

.txt-home button {
  width: 325px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: var(--text-sub);
  color: var(--text-base-light);
  font-weight: 700;
  font-size: 20px;
  padding: 8px;
  transition: 1s;
}

.txt-home button:hover {
  background-color: var(--text-base-light);
  color: var(--text-base-dark);
}

section.sobre {
  height: 100vh;
  width: 100%;
  background-image: url("../../imgs/bg.webp");
  background-position: center;
  background-size: cover;
}

.txt-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.txt-sobre h1 {
  font-size: 90px;
}

.container-sobre {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  align-items: center;
}

.box-sobre {
  padding: 20px 24px;
  border-radius: 20px !important;
  background-color: var(--text-sub);
  flex-grow: 1;
  width: 260px;
  height: 240px;
  gap: 10px;
  transition: 0.8s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-sobre:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 40px var(--text-sub);
}

.txt-box-sobre {
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.txt-box-sobre p, .txt-box-sobre h3, .box-sobre i {
  color: #000;
}

.txt-box-sobre h3, .box-sobre i {
  font-size: 35px;
}

.txt-sobre button {
  width: 200px;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  background-color: var(--text-base-dark);
  color: var(--text-base-light);
  padding: 8px;
  border: none;
  border-radius: 30px;
}

.rolagem {
  width: 3000px;
  background-color: var(--text-sub);
}

.container-rolagem {
  background-color: var(--text-sub);
  font-size: 3rem;
  width: 100%;
  height: 160px;
  gap: 30px;
  position: relative;
  display: flex;
  align-items: center;
}

.container-rolagem .h1 {
  max-width: 10000px;
  max-height: 140px;
  animation: rolagem 25s infinite alternate ease-in-out;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.container-rolagem h1 {
  color: var(--text-base-dark);
}

@keyframes rolagem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10000px);
  }
}/*# sourceMappingURL=style.css.map */