// estilo geral

@import "../../partials/index/style-all";

// cabeçalho 

@import "../../partials/tattos/cabeçalho";

// js imagem 

@import "../../partials/tattos/imagejs";

// mediaquery 

@import "../../partials/tattos/mediaquery";

.opacity{
    width: 100%;
    height: 100%;
    background-color: #00000096;
}

main{
    padding: 10% 15%;
    height: 100%;
    width: 100%;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    padding-top: 50px;
}

.colum{
    height: fit-content;
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.box-tatto{
    transition: 1s;
}

.box-tatto:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 10px 40px #787878;
}







