/* ESTILO DO FOMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.div-form{
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.linha{
    height: 463px;
    width: 1px;
    background-color: var(--white);
    margin-left: 40px;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

form input, form textarea{
    width: 100%;
    background-color: var(--text-sub);
    border: 0;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 18px;
}

form input::placeholder, form textarea::placeholder{
    color: var(--white);
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: var(--text-sub);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover, form input:hover, form textarea:hover{
    background-color: var(--white);
    color: var(--text-base-gray);

    &::placeholder{
        color: var(--text-base-gray);
    }

}


.contact-infos{
    align-self: center;
    margin-left: 30px;
    min-width: 350px;
    height: 463px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.contact-infos hr{
    width: 100%;
    background-color: #313238;
    line-height: 0px;
}

.contact-infos .item {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}
.contact-infos .item i{
    display: block;
    width: 40px;
    font-size: 16px;
    color: primary;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid var(--verde-claro);
    line-height: 34px;
    text-align: center;
    padding: 0 !important;
    color: var(--verde-claro);
    margin-right: 15px;
}

.contact-infos .item i:hover{
    background-color: var(--verde-claro);
    color: #fff;
}

.contact .contact-infos .item div{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 25px;
    flex-grow: 1;
}

.contact-infos .item div h5{
    margin-bottom: 10px;
    opacity: .9;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.contact-infos .item div p{
    opacity: .7;
    font-size: 15px;
    margin-bottom: 4px;
    letter-spacing: .6px;
}
