// SOBRE

section.sobre{
    height: 100vh;
    width: 100%;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre p{
    font-size: 24px;
}

.txt-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.txt-sobre h1{
    font-size: 80px;
    font-weight: 400;
}

.container-sobre{
    width: 80%;
    height: fit-content;
    margin: 40px  0;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    align-items: center;
}

.box-sobre{
    padding: 20px 24px;
    border-radius: 20px !important;
    background-color: var(--text-sub);
    flex-grow: 1;
    width: 260px;
    height: 240px;
    gap: 10px;
    transition: .8s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-sobre:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 40px var(--text-sub);
}

.container-sobre .aportfolio:hover{
    width: 80%;
}

.txt-box-sobre{
    gap: 25px;

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.txt-box-sobre p, .txt-box-sobre h3, .box-sobre i{
    color: #000;
}

.txt-box-sobre h3, .box-sobre i{
    font-size: 35px;
}







