@font-face {
    font-family: 'font1';
    src: url('../../fonts/Achafsex.ttf') format('truetype'); /* Altere o nome do arquivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font2';
    src: url('../../fonts/AlbertTextBold.otf') format('truetype'); /* Altere o nome do arquivo */
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    // font-family: "Miltonian Tattoo", serif;
    // font-family: "Jolly Lodger", system-ui;
    font-family: "font2", system-ui;
    // font-family: "font1", system-ui;
    color: var(--text-base-light);
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

button{
    cursor: pointer;
}

li, a, p{
    list-style: none;
    text-decoration: none;
    color: #a7a7a7;
    font-family: "font2", serif;
}

span{
    color: var(--text-sub);
}

:root {
    --text-base-dark: #000;
    --text-base-light: #f2f4f6;
    --text-sub: #9c8c8c;
    --text-base-gray: #695e5e;
    --bg-icon: #131313;
    --bg-top-bar: #61616142;
    --white: #f2f4f6;

}

body{
    background-image: url("../../imgs/bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;   
}

html, body{
    max-width: 100%;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 0px 4%;
    box-shadow: 0 0 40px 10px #00000067;
    background-color: var(--azul-claro);
    height: fit-content;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0;
    width: 100%;
}

footer .socials .social-item:hover {
    background-color: var(--white);
    color: var(--azul-claro);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.borda{
    border-top: 2px solid #fff;
}

footer .line-footer p i{
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #dee2e6;
}

footer .line-footer p a:hover{
    color: #fff;
}

.logo{
    width: 110px;
    cursor: pointer;
}

.socials{
    padding: 40px 40px;
    font-size: 25px;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: end;
}

.socials i{
    display: block;
    color: var(--text-sub);
}

.socials i:hover{
    color: var(--text-base-light);
    animation: anima-icon .8s infinite alternate ease-in-out;
}

@keyframes anima-icon {
    0% {
        transform: translateY(0) scale(1);
    }  
    100% {
        transform: translateY(-5px) scale(1.3);
    }
}
