
// js imagem

.opacity-img{
    width: 100vw;
    height: 100vh;
    background-color: #000000a9;
    z-index: 10;

    display: none;
    align-items: center;
    justify-content: center;
}

.tela-da-imagem{
    max-width: 800px;
    max-height: fit-content;

    display: none;
}

.active{
    display: flex;
    position: fixed;
    animation: none;
}

.setas-img button{
    background-color: transparent;
    border: none;
    font-size: 50px;

    z-index: 10000;
}

.btn-close{
    position: absolute;
    left: 90%;
    top: 10%;
}

.left{
    position: absolute;
    right: 90%;
}

.right{
    position: absolute;
    top: 50%;
    left: 90%;
}

.right:hover{
    animation: right 1s alternate infinite ease-in-out;
}

.left:hover{
    animation: left 1s alternate infinite ease-in-out;
}



@keyframes right {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(20px);
    }
}

@keyframes left {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-20px);
    }
}